<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hw.CompilerTools" version="22.0.0" targetFramework="net472" />
  <package id="hw.Helper.Core" version="22.0.1" targetFramework="net48" />
  <package id="hw.UnitTest" version="22.0.0" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2022.3.1" targetFramework="net48" />
</packages>