.vs
/intermediate
/out
_ReSharper.*
*.suo
*.user
obj/
*.dll
*.pdb
/src/packages/**
*.sln.ide
/src/artifacts/bin
/src/.idea
/src/*.sdf
/src/*.VC.db
/src/*/*.DotSettings
/src/renisource/Debug/renisource.vcxprojResolveAssemblyReference.cache
/bin/Packages/**
/.sync
/.sync
/src/renisource/Debug
_NCrunch*
*.ncrunchproject
*.ncrunchsolution
/src/**/bin
/src/ReniTest/PendingTests.cs
