<#@ template debug="true" hostSpecific="true" #>
<#@ include file="EF.Utility.CS.ttinclude"#>
<#@ output extension=".cs" #>
<#@ Assembly Name="$(TargetDir)HWClassLibrary.dll" #>
<#@ Assembly Name="$(TargetDir)Reni.dll" #>
<#@ import namespace="global::Reni" #>// <#= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff") #> 
<#= new T4Compiler(@"i: 10; f: i > 0 then (i := (i - 1)enable_cut; i dump_print; f())/\;f()").Code() #>     