<#@ template debug="true" hostSpecific="true" #>
<#@ include file="EF.Utility.CS.ttinclude"#>
<#@ output extension=".cs" #>
<#@ Assembly Name="$(TargetDir)HWClassLibrary.dll" #>
<#@ Assembly Name="$(TargetDir)Reni.dll" #>
<#@ import namespace="global::Reni" #>// <#= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff") #> 
<#= new T4Compiler(@"f: arg/\;f(2) dump_print;", "other").Code() #>     
<#= new T4Compiler(@"x: 100; f: x/\;f() dump_print;").Code() #>     