<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net472" />
  <package id="MediatR" version="8.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.7.56" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.7.56" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.6.0" targetFramework="net472" />
  <package id="Nerdbank.Streams" version="2.6.81" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="OmniSharp.Extensions.JsonRpc" version="0.19.5" targetFramework="net472" />
  <package id="OmniSharp.Extensions.JsonRpc.Generators" version="0.19.5" targetFramework="net472" />
  <package id="OmniSharp.Extensions.LanguageProtocol" version="0.19.5" targetFramework="net472" />
  <package id="OmniSharp.Extensions.LanguageServer" version="0.19.5" targetFramework="net472" />
  <package id="OmniSharp.Extensions.LanguageServer.Shared" version="0.19.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.7.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>