@using System
@using System.Collections.Generic
@using System.Diagnostics
@using System.Linq
@using System.Reflection
@using Reni
@using ReniUI


@functions {
    IEnumerable<string> ResultText => Code == null ? new string[0] : Compiler.FlatExecute(Code, true).Split('\n');
    string Code => Request.Form["Code"];

    static string Version
    {
        get
        {
            var a = Assembly.GetAssembly(typeof(Compiler));
            var f = FileVersionInfo.GetVersionInfo(a.Location);
            return f.ProductVersion;
        }
    }

}
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Reni Tester";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>Der Compiler-Tester.</h2>

            </hgroup>
            <p>
                Gib das Programm ein und drücke die Submit-Taste.
            </p>
            <p>
                Ein bisschen Hilfe gibts <a href="http://github.com/hahoyer/reni.cpp/wiki/Die-Programmiersprache-Reni">hier</a>
            </p>
        </div>
    </section>
}
<script src="Scripts/codemirror-2.37/lib/codemirror.js"></script>
<link rel="stylesheet" href="Scripts/codemirror-2.37/lib/codemirror.css" >
<script src="Scripts/codemirror-2.37/mode/javascript/javascript.js"></script>

<form method="POST">
    <div>
        <textarea name="Code" id="Code" rows="5" cols="80" onchange="submit()">@Code</textarea>
        <input type="Submit" name="Submit" value="Submit" />
    </div>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("Code"), {
     lineNumbers: true,
     mode: "javascript",
     matchBrackets: true
 });
    </script>

<br />

<div>
    @foreach(var line in ResultText)
    {
        <div>@line</div>
    }
</div>
<div class="float-right">
    <p>Compiler Version: @Version</p>
</div>