@using System
@using System.Collections.Generic
@using System.Linq
@using hw.DebugFormatter
@using Reni
@functions {
    IEnumerable<string> ResultText
    {
        get
        {
            if(Code == null)
                return new string[0];
            return Compiler.FlatExecute(Code, isFakedName: true).Split('\n');
        }
    }

    string Code { get { return Request.Form["Code"]; } }
}
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Reni Tester";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>Der Compiler-Tester.</h2>
            </hgroup>
            <p>
                Gib das Programm ein und drücke die Tab-Taste.
            </p>
			<p>
				Ein bisschen Hilfe gibts <a href="http://github.com/hahoyer/reni.cpp/wiki/Die-Programmiersprache-Reni">hier</a> 
			</p>
        </div>
    </section>
}
<form method="POST">
    <div>
        <textarea name="Code" rows= 5 cols = 80 onchange="submit()">@Code</textarea>
    </div>     
</form>
<br />

<div>
    @foreach(var line in ResultText)
    {
        <div>@line</div>
    }
</div>
