<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hw.CompilerTools" version="0.2.1-alpha" targetFramework="net40" />
  <package id="hw.Helper.Core" version="1.0.0.3" targetFramework="net40" />
  <package id="hw.TreeView" version="1.0.0.1" targetFramework="net40" />
  <package id="hw.UnitTest" version="0.2.1-alpha" targetFramework="net40" />
</packages>