<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hw.CompilerTools" version="15.7.2" targetFramework="net45" userInstalled="true" />
  <package id="hw.Forms" version="13.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="hw.Helper.Core" version="15.1.3" targetFramework="net45" userInstalled="true" />
  <package id="hw.UnitTest" version="15.0.1" targetFramework="net45" userInstalled="true" />
</packages>