<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0.1"/>
    <pages clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>